Flask==1.1.1
gunicorn==19.9.0
h5py==2.9.0
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.4.1
MarkupSafe==1.1.1
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.2.3.zip
Werkzeug==0.16.0
